.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: brown;
  }
  
  .main-header h2 {
    margin: 0;
    color: aliceblue;
  }
  
  .nav-links {
    display: flex;
    gap: 15px; /* Space between buttons */
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 8px 12px;
    transition: color 0.3s ease;
  }
  
  .nav-links a:hover { 
    color: burlywood;
  }
  